.heading-1 {
    font-family: "Vollkorn", serif;
    font-size: 3.052rem;
}

.heading-2 {
    font-family: "Vollkorn", serif;
    font-size: 2.441rem;
}

.heading-3 {
    font-family: "Vollkorn", serif;
    font-size: 1.953rem;
}

.heading-4 {
    font-family: "Vollkorn", serif;
    font-size: 1.563rem;
}

.heading-5 {
    font-family: "Vollkorn", serif;
    font-size: 1.25rem;
}

.text_small {
    font-family: "Vollkorn", serif;
    font-size: 0.8rem;
}
